// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$grey: #F7F7F2;
$light-blue: #219EBC;
$dark-blue: #023047;
$light-orange: #FFB703;
$orange: #E67E22;
