.container-children-watching{
  width: 400px;
  margin: 30px auto;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 93vh;
}
.card-child-avatar {
  display: inline-flex;
  padding: 25px;
}

.child-children_watching {
  color: $orange;
}
