.icons-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  // margin: 40px;
  padding: 26px;
}

.icons-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: $dark-blue;
  padding: 38px;
}

.icon-home {
  width: 96px;
}
