<div class="container-select-child">
  <div class="card-select-children">
    <% current_user.children.each do |child| %>

      <% child.watchings.each do |watching|%>
        <% if watching == @watching %>
          <div class="children_watching_destroy">
          <% children_watching = @children_watchings.where(child: child) %>
            <%= link_to 'destroy', children_watching_path(children_watching.id), method: :delete %>
          </div>
        <% else %>
          <div class="children_watching_new">
            <%= link_to  watching_children_watchings_path(child_id: child.id), method: :post do%>
              <% if child.photo.attached? %>
                  <%= cl_image_tag child.photo.key, class: "avatar-large", alt: "avatar-large" %>
              <% end %>
            <% end %>
              <h3 class="child-name"> <%= child.name %> </h3>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
