<div class="home-container">
    <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519340241574-2cec6aef0c01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2848&q=80);">
      <h1> <strong>PliSiTol</strong> </h1>
      <p>Quels programmes pour divertir vos enfants ?</p>
      <%= link_to "voir plus", programs_path, class: "btn-green" %>
    </div>



    <div class="icons-cards-container">
      <div class="icons-cards movie-icon">
        <div class="movie-icon popcorn">
          <%= (image_tag "icons/popcorn.png") %>
        </div>
        <p><strong>TROUVEZ</strong> un film, une série ou un documentaire, un programme adapté à vos besoins</p>
      </div>
      <div class="icons-cards convo-icon">
        <div class="movie-icon convo">
          <%= (image_tag "icons/convo.png") %>
        </div>
        <p><strong>ECHANGEZ</strong> avec la communauté et enrichissez la plateforme par vos retours avisés</p>
      </div>
      <div class="icons-cards stat-icon">
        <div class="movie-icon statsgraph">
          <%= (image_tag "icons/statsgraph.png") %>
        </div>
        <p><strong>SUIVEZ</strong> le temps d’utilisation de l’écran pour vo/tre/s enfant/s</p>
      </div>
    </div>
</div>
