<div class="home-container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519340241574-2cec6aef0c01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2848&q=80);">
      <div class="container">
        <h1> <strong>PliSiTol</strong> </h1>
        <p>Quels programmes pour divertir vos enfants ?</p>
        <%= link_to "Watch", "#", class: " btn-green" %>
      </div>
    </div>
</div>
