.btn-green {
  color: rgba(255, 255, 255, 0.8);
  background-color: #02ff17;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 400;
}

.btn-green:hover {
  background-color:  #01851e;
  color: rgb(255, 255, 255);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);
