.btn-green {
  color: rgba(255, 255, 255, 0.8);
  background-color: #ffb703;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 400;
}

.btn-green:hover {
  background-color:  #fb8500;
  color: rgb(255, 255, 255);
}
