.form-control {
  background-color: $grey;
  border: none;
  color: $light-blue;
}

.container-home-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-form {
  display: flex;
  background-color: $light-orange;
  border-radius: 50px;
  border: solid 1px $dark-blue;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.home-form-text-field {
  padding-top: 12px;
  display: inline-block;
}
.home-form-categ-field {
  padding-top: 12px;
  display: inline-block;
}
.home-form-age-field {
  padding-top: 12px;
  display: inline-block;
}
.home-form-length-field {
  padding-top: 12px;
  display: inline-block;
}
.home-form-submit-btn {
  padding-top: 12px;
  display: inline-block;
}

.fa-search:hover {
  font-weight: bolder;
  color: $dark-blue;
}

.button-search {
  background-color: $light-orange;
  color: $light-blue;
}
