.general-kids-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 36px;
  padding: 16px;
}

.general-accounts-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 36px;
  padding: 16px;
}

.disable {
  display: none;
}

.active {
  display: block;
}

.avatar-form .form-group {
  display: flex;
  width: 294px;
  flex-wrap: wrap;

  img {
    width: 74px;
    height: 74px;
    object-fit: cover;
  }
}
