.general-kids-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 36px;
  padding: 16px;
}

.general-accounts-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 36px;
  padding: 16px;
}

.disable {
  display: none;
}

.active {
  display: block;
}

.avatar-form .form-group {
  display: flex;
  width: 294px;
  flex-wrap: wrap;

  img {
    width: 74px;
    height: 74px;
    object-fit: cover;
  }
}

.general-wrap {
  min-height: 100vh;
}

.platform-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 5px 5px 10px grey;
}

.tier-nav {
  text-align: center;
  width: 33%;
  background: $grey;
}

.tier-nav-plus-one {
  text-align: center;
  width: 34%;
  background: $grey;
}

.nav-link.active {
  background: $dark-blue !important;
}

.nav-link:hover {
  background: $orange;
}
