.wrap-show {
  display: flex;
}

.container-show {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-show {
  display: flex;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);
  background-size: cover;
  background-position: center;
  align-items: flex-end;
  justify-content: space-around;
}

.banner-info {
  display: flex;
  flex-direction: column;
}
