
.program-banner {
  display: flex;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  height: 80vh;
  align-items: flex-end;
  justify-content: flex-start;
}

.program-banner-text {
  display: flex;
  padding: 30px;
  width: 600px;
  text-align: left;
  flex-direction: column;
  margin: 80px;
  color: white;
}

.program-banner-btn {
  display: flex;
  justify-content: space-around;
}
