.program-banner {
  display: flex;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  height: 80vh;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.program-banner img {
  object-fit: cover;
}

.program-banner-text {
  display: flex;
  padding: 30px;
  width: 600px;
  text-align: left;
  flex-direction: column;
  color: white;
  position: absolute;
  left: 3%;
}

.program-banner-btn {
  display: flex;
  justify-content: space-around;
}

.program-item {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  flex-direction: column;
  padding: 46px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:  rgba(220, 220, 220, 0.808);

  p {
    color: $dark-blue;
    font-size: 16px;
  }
}


.program-categ-and-age {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}


.show-categ {
  background-color: rgba(255, 183, 3, 0.5);
  color: $orange;
  border: 1px solid $orange;
  padding: 4px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  margin-bottom: 8px;

  h2 {
    font-size: 22px;
    margin-top: 0.5rem;
  }
}

.show-categ:hover {
  opacity: 1;
}

.show-age-range {
  padding: 8px 4px;

  h3 {
  font-size: 20px;
  }
}
